.ProfileInfo{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: -20px;
    gap: 100px;
    margin-bottom: 50px;

    &__Block{
        margin-top: 40px;
        width: fit-content;
        text-align: center;

        &__title{
            font-size: 18px;
            font-weight: 600;
        }
    }

    &__Avatar{
        width: fit-content;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__containerImage{
            img{
                width: 100px;
                height: 100px;
                border-radius: 100%;
            }
        }

        &__text{
            font-size: 20px;
            font-weight: 600;
        }
    }
}