@import "../../../styles/variables";

.input{
    position: relative;
    display: flex;
    flex-direction: column;

    input{
        padding: 10px 20px;
        background: $bg-card;
        border-radius: 20px;
        border: 1px solid $border-color;
        color: $text-primary;
    }

    &__inline__button{
        color: $text-primary;
        position: absolute;
        right: 20px;
        top: 10px;
    }
}